meta(name="viewport", content="width=device-width, initial-scale=1")
link(href="/public/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(rel='stylesheet', href='/public/stylesheets/style-my.css')
script(src="/public/libs/jquery/dist/jquery.min.js")
script(src="/public/libs/bootstrap/dist/js/bootstrap.min.js")

